@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Roboto:wght@300&display=swap');

body {
    background-color: rgb(234, 234, 234);
    font-family: 'Lobster', sans-serif;
}

.flex {
    display: flex;
}

h3 h5 {
    margin: 0;
}

h1 {
    font-family: 'Kalam', cursive;
    font-size: 80px;
    margin: 0;
}

.logo {
    width: 200px;
    height: 200px;

}

nav {
    grid-area: nav;
    border-style: solid;
    border: 100px;
    border-width: 1px;
    border-color: black;
    text-align: center;
    background-color: darkorchid;
    color: aliceblue;
}

.main {

    grid-area: main;
}

.aside {
    grid-area: aside;
    padding-left: 10px;
    flex-direction: column;
    width: 300px;
    background-color: rgb(196, 195, 195);
    height: auto;
    align-items: center;
    font-size: x-large;
    color: darkmagenta
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-areas:
        'nav'
        'main'
        'aside'
        'footer'
}

span {
    color: rgb(100, 99, 99);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.grid-item img {
    width: 200px;
    height: 200px;
}

.card {
    padding: 15px;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: darkmagenta;
    box-shadow: 10px 10px 5px rgb(224, 173, 230);
}

button {
    width: 200px;
    height: 30px;
    background-color: rgb(139, 179, 252);
    color: aliceblue;
    border-color: blue;
}

footer {
    grid-area: footer;
    font-family: 'Kalam', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: aliceblue;
    text-align: center;
    background-color: darkviolet;

}